<div [ngClass]="['matches next-match']" *ngIf="nextMatch.localteam_id">
  <a class="" (click)="onOpenMatch(nextMatch.id)">
    <h3>Next match</h3>
    <div class="flex items-center justify-center">
      <div class="w-[100px]">
        <img [src]="nextMatch.localteam_id | generateLogoUrl" />
      </div>
      <div class="match-divider">
        <div class="date">{{ validDateFormat(nextMatch.time.starting_at.date_time) | date: 'EEEE'}}</div>
        <div class="date"><strong>{{ validDateFormat(nextMatch.time.starting_at.date_time) | date: 'd MMMM'}}</strong></div>
        <div class="date">{{ validDateFormat(nextMatch.time.starting_at.date_time) | date: 'HH:mm' }}</div>
      </div>
      <div class="w-[100px]">
        <img [src]="nextMatch.visitorteam_id | generateLogoUrl" />
      </div>
    </div>
  </a>
</div>
