<div class="relative w-full z-20 rounded-md bg-white dark:bg-gray-700 p-4">
  <div class="container ml-auto mr-auto" [ngClass]="{'xl:w-[1100px]': !compact}">
    <div class="o-table">
      <div class="o-table-header" *ngIf="ranking?.data?.length > 0">
        <div class="o-table-row" *ngIf="!compact">
          <div class="table-cell align-middle dark:text-white"></div>
          <div class="table-cell align-middle dark:text-white"></div>
          <div class="table-cell align-middle dark:text-white pr-2"></div>
          <div class="table-cell align-middle dark:text-white"></div>
          <div class="hidden align-middle dark:text-white md:table-cell" *ngIf="!compact"></div>
          <div class="hidden align-middle dark:text-white md:table-cell" *ngIf="!compact"></div>
          <div class="hidden align-middle dark:text-white md:table-cell" *ngIf="!compact"></div>
          <div class="hidden align-middle dark:text-white md:table-cell" *ngIf="!compact"></div>
          <div class="hidden align-middle dark:text-white md:table-cell" *ngIf="!compact"></div>
          <div class="table-cell align-middle dark:text-white"></div>
        </div>
      </div>
      <div class="o-table-body">
        <div class="table-row" *ngFor="let club of ranking; let i = index;" [ngClass]="{'font-bold': club.participant?.name === 'Heracles Almelo'}">
          <div class="table-cell rank-position dark:text-white py-2 align-middle">
            {{ club?.position }}
          </div>
          <div class="table-cell rank-logo dark:text-white py-2 align-middle">
            <img [alt]="club?.participant?.name" [src]="[club?.participant?.id | generateLogoUrl]" class="w-8" />
          </div>
          <div class="table-cell rank-clubname py-2 align-middle dark:text-white">
<!--            <a class="hover:text-blue-500 dark:text-white hover:underline" [routerLink]="['/', 'club', 'teamstats', club?.participant?.name]" [title]="club?.participant?.name">{{ club?.participant?.name }}</a>-->
            {{ club?.participant?.name }}
          </div>
          <div class="table-cell left-auto dark:text-white py-2 align-middle">
            {{ getDetailValue(club, 'matchesPlayed') }}
          </div>
          <div class="hidden md:table-cell dark:text-white py-2 align-middle" *ngIf="!compact">
            {{ getDetailValue(club, 'matchesWon') }}
          </div>
          <div class="hidden md:table-cell dark:text-white py-2 align-middle" *ngIf="!compact">
            {{ getDetailValue(club, 'matchesDrawn') }}
          </div>
          <div class="hidden md:table-cell dark:text-white py-2 align-middle" *ngIf="!compact">
            {{ getDetailValue(club, 'matchesLost') }}
          </div>
          <div class="hidden md:table-cell dark:text-white py-2 align-middle" *ngIf="!compact">
            {{ getDetailValue(club, 'goalsScored') }}
          </div>
          <div class="hidden md:table-cell dark:text-white py-2 align-middle" *ngIf="!compact">
            {{ getDetailValue(club, 'goalsConceded') }}
          </div>
          <div class="table-cell dark:text-white py-2 align-middle">
            {{ club?.points }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
