<div class="bg-gray-900 rounded-xl p-4 mb-4" [ngClass]="{'border-blue-500': commentLevel > 1 }">
  <div class="flex w-full">
    <div class="author-name py-2 px-4 inline-block text-white relative">
      <h3 class="text-black font-bold text-sm dark:text-white relative text-black" [ngClass]="{'font-bold text-blue-500': comment.author !== 0}">{{ comment.author_name }} <fa-icon [icon]="faCheck" class="text-green-800 absolute -right-[.5rem] -top-[5px] text-sm" *ngIf="comment.author !== 0" title="Geregistreerde gebruiker"></fa-icon></h3>
    </div>
<!--    <div class="ml-auto flex items-center justify-center">-->
<!--      <div class="ml-auto">-->
<!--        <span class="text-green-800 ml-4 dark:text-white"><span *ngIf="comment.likes > 0">+ {{ comment.likes }}</span></span>-->
<!--        <button *ngIf="isAuthenticated" class="like-dislike-button like-button" (click)="onRateComment(1, comment)">-->
<!--          <fa-icon [icon]="faArrowUp" class="text-green-800 dark:text-white"></fa-icon>-->
<!--        </button>-->
<!--        <span class="text-red-800 dark:text-white"><span *ngIf="comment.dislikes > 0">-  {{ comment.dislikes }}</span></span>-->
<!--        <button *ngIf="isAuthenticated" class="like-dislike-button like-button" (click)="onRateComment(-1, comment)">-->
<!--          <fa-icon [icon]="faArrowDown" class="text-red-800 dark:text-white"></fa-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="">
    <div [innerHTML]="comment.content.rendered" class="text-black dark:text-white comment-content px-4 pt-4"></div>
    <div class="text-sm p-4 pb-0 flex">
      <h4 class="dark:text-white flex items-center w-full">
        <span class="date italic text-gray-300 dark:text-gray-500 dark_text-gray-300">{{ calculateTimeDifference(validDateFormat(comment.date)) }}</span>
        <div class="ml-auto" *ngIf="isReplyButtonVisible()">
          <button class="text-blue-500 hover:text-white hover:bg-blue-500 p-2 rounded-md" (click)="onReplyToComment(comment.id)">
            Reageer
          </button>
        </div>
      </h4>
    </div>
  </div>
</div>
