<div class="relative">
  <fa-icon [icon]="faShare" *ngIf="commentLevel > 1" class="absolute text-black dark:text-white -left-[30px] top-[1rem] text-xm rotate-180 -scale-x-[1]"></fa-icon>
  <div class="absolute -left-[44px] bottom-[2.5rem] rounded-full w-[30px] h-[30px] flex items-center justify-center text-white text-xs"
       [ngClass]="{'outline bg-black outline-black outline-offset-2 dark:outline-white': comment.author !== 0, 'bg-blue-500': comment.author === 0}"
  >
    {{ firstCharacters(comment.author_name) }}
  </div>
  <div class="bg-gray-100 dark:bg-gray-1000 rounded-md p-2">
    <div class="flex w-full">
      <div class="author-name text-sm px-2 text-white relative flex">
        <h3 class="text-black dark:text-white relative w-full flex" [ngClass]="{'font-bold text-blue-500': comment.author !== 0}"><strong class="mr-1">{{ comment.author_name }}</strong>zegt</h3>
      </div>
      <span class="text-sm ml-auto date italic text-gray-400 dark:text-gray-500 dark_text-gray-300">{{ calculateTimeDifference(validDateFormat(comment.date)) }}</span>
    </div>
    <div [innerHTML]="comment.content.rendered" class="break-words max-w-full overflow-hidden text-black dark:text-white comment-content px-2 pt-2"></div>
  </div>
  <div class="text-sm px-2 flex mb-6">
    <h4 class="dark:text-white flex items-center w-full flex">
      <div class="ml-4">
        <div *ngIf="isReplyButtonVisible()">
          <button class="text-blue-500 hover:underline hover:text-black dark:hover:text-white p-2 rounded-md" (click)="onReplyToComment(comment.id, comment.author_name)">
            Reageer
          </button>
        </div>
        <div class="ml-4">

        </div>
      </div>
      <div class="ml-auto mt-2 flex">
        <div class="mr-4 pr-2 border-r border-gray-200 dark:border-gray-800">
          <button class="text-sm like-dislike-button like-button mr-2" (click)="onRateComment(1, comment)">
            <fa-icon [icon]="faArrowUp" class="text-green-800 dark:text-white"></fa-icon>
          </button>
          <button class="text-sm like-dislike-button like-button" (click)="onRateComment(-1, comment)">
            <fa-icon [icon]="faArrowDown" class="text-red-800 dark:text-white"></fa-icon>
          </button>
        </div>
        <div class="py-2">{{ comment?.likes_dislikes | positiveNegative }}</div>
      </div>
    </h4>
  </div>
</div>
