<h2 class="text-xl"></h2>
<div class="-mt-[20px] bg-gray-100 dark:bg-gray-800 p-8 w-auto m-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <a *ngFor="let product of products" class="dark:bg-black bg-white dark: bg-black m-4 p-4 border-b hover:border-b-black" [routerLink]="['/', 'shop', 'product', product?.slug]">
      <div class="flex items-center justify-center p-4 bg-white dark:bg-black h-[250px]">
        <img [srcset]="product?.images[0].src" [alt]="product.name" class="w-[80%] block border border-gray-200" />
      </div>
      <div class="flex flex-col p-4">
        <h2 [innerHTML]="product?.name" class="mb-4 dark:text-white"></h2>
        <div class="">
          <h3 class="text-xl text-blue-500 dark:text-white" [ngClass]="{'line-trough opacity-50 text-gray-800 dark:text-white': product?.sale_price}">{{ product?.regular_price * 1.21 | currency: 'EUR' }}</h3>
          <h3 class="text-blue-500 text-3xl dark:text-white" *ngIf="product?.sale_price">{{ product?.sale_price | currency: 'EUR' }}</h3>
        </div>
      </div>
    </a>
    <p *ngIf="noProductsMessage !== ''" class="bg-orange-200 text-orange-800 p-4">{{ noProductsMessage }}</p>
  </div>
</div>
