<div class="flex flex-col animate-fade-up animate-once animate-ease-in-out animate-duration-200">
  <div class="container xl:w-[1200px] ml-auto mr-auto">
    <div class="relative container h-[450px] xl:h-[550px] md:h-[550px] align-center">
      <img [src]="post?.better_featured_image.source_url" class="object-cover object-center xl:h-[550px] md:h-[550px] m-h-[550px] w-full h-full" />
      <span *ngIf="post?.better_featured_image.caption; else noCaption" class="absolute right-2 bottom-2 z-20 text-sm text-white">Foto: {{ post?.better_featured_image.caption }}</span>
      <ng-template #noCaption>
        <span class="absolute right-2 bottom-2 z-20 text-sm text-white">Foto: NESImages</span>
      </ng-template>
    </div>
  </div>
  <div class="flex flex-col xl:w-[1200px] ml-auto mr-auto relative z-20">
    <div class="container flex flex-col ml-auto mr-auto items-center">
      <div class="m-auto flex flex-col md:flex-row">
        <div class="w-full md:w-2/3 md:pr-4">
          <div class="bg-white dark:bg-gray-900 rounded-md mb-8 md:px-12 pt-8 p-8 news-container">
            <div class="flex items-center md:flex dark:text-white text-xs mb-8">
              <a routerLink="/" class="inline-block hover:underline dark:text-white mr-2">Home</a> &rsaquo; <a routerLink="/nieuws" class="inline-block hover:underline mx-2">Nieuws</a> &rsaquo; <span [innerHTML]="post?.title.rendered" class="inline-block dark:text-white mx-2"></span>
            </div>
            <h1 [innerHTML]="post?.title.rendered" class="text-4xl mb-4 leading-[1.25] dark:text-white"></h1>
            <span class="font-bold dark:text-white">{{ post.date | date }}</span> <span class="dark:text-white inline-block md:hidden ml-5">{{ categoryName }}</span>
            <div [innerHTML]="post?.content.rendered" class="leading-8 text-base leading-[1.5] dark:text-white"></div>
            <div *ngIf="post?.acf.spotify_link">
              <a [href]="post?.acf.spotify_link" class="button button-blue no-underline" target="_blank">
                Beluister op Spotify
              </a>
              <iframe [src]="post.acf.spotify_link | safe" width="100%" height="390" seamless="true"></iframe>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/3 relative">
          <div class="md:sticky md:top-[120px]">
            <h3 class="ml-4 p-2 text-xl my-8 inline-block dark:text-white relative border-b border-blue-500">
              Onze sponsoren
            </h3>
            <div class="p-4">
              <app-ads [layout]="'square'"></app-ads>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xl:w-[1200px] container m-auto">
    <div *ngIf="post?.comment_status !== 'closed'; else commentsClosed">
      <div class="w-full" id="comments">
        <app-comments [postId]="post.id"></app-comments>
      </div>
    </div>
    <ng-template #commentsClosed>
      <p class="mb-8 text-xl dark:text-white">Op dit bericht kun je niet reageren</p>
    </ng-template>
  </div>
  <app-footer [links]="links"></app-footer>
</div>

<button class="fixed hover:cursor-pointer w-[200px] left-[50%] -ml-[100px] hover:bg-gray-900 p-4 bg-blue-500 text-white text-xl z-20 left-0 bottom-2 rounded-md" *ngIf="buttonVisible && post?.comment_status !== 'closed'" (click)="onOpenCommentModal()">Reageer <fa-icon class="ml-4" [icon]="faComment"></fa-icon></button>

<app-modal-comment (commentSuccesful)="addComment($event)" (closeModal)="onModalClose()" [modalStatus]="modalCommentsOpen" [postId]="postId"></app-modal-comment>
