<app-header></app-header>
<div class="container relative z-10 ml-auto mr-auto">
  <div class="relative container xl:h-[650px] md:h-[500px]">
    <img [src]="post?.better_featured_image.source_url" class="object-cover object-top w-full h-full" />
  </div>
</div>
<div class="flex space-x-4 container ml-auto mr-auto p-8 justify-end">
  <a routerLink="">Home</a> -> <a routerLink="#">Nieuws</a> -> <span [innerHTML]="post?.title.rendered"></span> <button class="text-blue-500">{{ post?.comments_count }} reacties</button>
</div>
<div class="flex flex-row bg-gray-100 p-12">
  <div class="container flex ml-auto mr-auto items-center">
    <div class="p-8 news-container m-auto w-[800px]">
      <h1 [innerHTML]="post?.title.rendered" class="text-5xl mb-4 leading-[1.25]"></h1>
      <div [innerHTML]="post?.content.rendered" class="leading-8 text-base leading-[1.5]"></div>
    </div>
  </div>
</div>

<section id="comments" class="modal">
  <h1 class="text-xl">Hier komen de comments</h1>
</section>
