<button *ngIf="buttonVisible" (click)="toTop()" class="fixed hover:cursor-pointer hover:bg-gray-900 p-4 bg-gray-700 text-white text-xl z-20 right-0 bottom-0">
  Naar boven
</button>

<footer class="p-8 bg-gray-800 mt-24">
  <div class="container xl:w-[1280px] relative z-10 ml-auto mr-auto">
    <nav class="f-full grid grid-cols-4 ">
      <ul class="text-white">
        <li class="mb-2">
          <a href="" title="" class="hover:underline">
            Home
          </a>
        </li>
        <li class="mb-2">
          <a href="" title="" class="hover:underline">
            Nieuws
          </a>
        </li>
        <li class="mb-2">
          <a href="" title="" class="hover:underline">
            Selectie
          </a>
        </li>
        <li class="mb-2">
          <a href="" title="" class="hover:underline">
            Wedstrijden
          </a>
        </li>
      </ul>
      <ul class="text-white">
        <li class="mb-2">
          <a href="" title="" class="hover:underline">
            Voetbaltracker
          </a>
        </li>
        <li class="mb-2">
          <a href="" title="" class="hover:underline">
            ShockMedia
          </a>
        </li>
      </ul>
      <ul class="text-white">
        <li class="mb-2">
          <a href="" title="" class="hover:underline">
            HAFC voor Iphone
          </a>
        </li>
        <li class="mb-2">
          <a href="" title="" class="hover:underline">
            HAFC voor Android
          </a>
        </li>
      </ul>
      <ul class="text-white">
        <li class="mb-2">
          <a href="" title="" class="hover:underline">
            Mumba Web Solutions
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
