<button *ngIf="buttonVisible" (click)="toTop()" class="fixed hover:cursor-pointer hover:bg-gray-900 p-4 bg-white text-black text-xl z-20 right-0 bottom-0">
  <fa-icon [icon]="faArrowUp"></fa-icon>
</button>
<section>
  <div class="flex p-8 space-x-2 bg-gray-300 justify-center align-middle">
    <h4>1927</h4> <span>/</span>
    <h4>1941</h4> <span>/</span>
    <h4>1985</h4> <span>/</span>
    <h4>2005</h4> <span>/</span>
    <h4>2023</h4>
  </div>
</section>
<footer class="px-8 py-16 bg-gray-800">
  <div class="container xl:w-[1280px] relative z-10 ml-auto mr-auto">
    <nav class="flex flex-col md:grid md:grid-cols-2 md:grid-cols-4">
      <ul class="text-white mb-4">
        <li>
          <strong class="mb-2 block">HAFC.nl</strong>
        </li>
        <li class="mb-2">
          <a href="" title="" class="hover:underline">
            Home
          </a>
        </li>
        <li class="mb-2">
          <a routerLink="/nieuws" title="" class="hover:underline">
            Nieuws
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['club', 'selectie']" title="" class="hover:underline">
            Selectie
          </a>
        </li>
      </ul>
      <ul class="text-white mb-4">
        <li>
          <strong class="mb-2 block">Eredivisie</strong>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/', 'club', 'competitie', 'wedstrijdprogramma']" title="" class="hover:underline">
            Programma
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/', 'club', 'competitie', 'uitslagen']" title="" class="hover:underline">
            Uitslagen
          </a>
        </li>
        <li class="mb-2">
          <a [routerLink]="['/', 'club', 'competitie', 'stand']" title="" class="hover:underline">
            Stand
          </a>
        </li>
      </ul>
      <ul class="text-white mb-4">
        <li>
          <strong class="mb-2 block">Interessante links</strong>
        </li>
        <li class="mb-2" *ngFor="let link of links">
          <a [href]="link.acf.url" target="_blank" [title]="link.acf.anchor" class="hover:underline">
            {{ link.acf.anchor }}
          </a>
        </li>
      </ul>
      <ul class="text-white mb-4">
        <li class="mb-4">
          <a href="https://apps.apple.com/pk/app/hafc/id1642538892" title="Mumba Web Solutions" class="block relative h-auto">
            <img src="assets/appstore.svg" alt="Download in de app store" class="block w-[130px]" />
          </a>
        </li>
        <li>
          <a href="https://play.google.com/store/apps/details?id=nl.hafc.app&pli=1" title="Mumba Web Solutions" class="block relative h-auto">
            <img src="assets/playstore.svg" alt="Beschikbaar op Google Play" class="block w-[130px]" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
