<header class="sticky top-0 bg-black z-30 text-white px-4 xl:px-10 ml-auto mr-auto">
  <div class=" m-auto  xl:w-[1280px] container flex justify-center items-center">
    <div class="flex-1 text-left">
      <nav>
        <ul class="flex space-x-4 uppercase text-white">
          <li>
            <a class="button" routerLink="/">Home</a>
          </li>
          <li>
            <a class="button" routerLink="/nieuwsarchief">Nieuws</a>
          </li>
          <li>
            <a class="button" routerLink="/team">Selectie</a>
          </li>
          <li>
            <a class="button" routerLink="/wedstrijden">Wedstrijden</a>
          </li>
        </ul>
      </nav>
    </div>
    <a class="flex-1 block flex items-center justify-center" routerLink="/">
      <img src="assets/logo_hafc.svg" class="w-[100px] h-auto m-4 block bg-white" title="HAFC" />
    </a>
    <div class="flex-1 text-right uppercase text-white">
      <nav>
        <ul class="flex space-x-4 uppercase text-white justify-end">
          <li>
            <a class="button" routerLink="/">Registreren</a>
          </li>
          <li>
            <a class="button" routerLink="/">Merchandise</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
