<div class="flex flex-col min-h-screen relative z-20">
  <div class="relative container xl:w-[1200px] flex items-center ml-auto mr-auto xl:h-[450px] block bg-black">
    <img [src]="'assets/wehmeyer.jpg'" />
    <div class="absolute z-20 left-8 bottom-12 lg:w-[33.3%]">
      <h1 class="text-white text-4xl max-w-5xl p-4">Inloggen</h1>
    </div>
  </div>
  <div class="xl:w-[1100px] mx-auto flex justify-end relative z-10">
    <div class="bg-white p-8 -mt-16 w-[550px]">
      <app-login-form></app-login-form>
    </div>
  </div>
</div>

<div class="smiley">
  <div class="hair"></div>
  <div class="eyes right"></div>
  <div class="eyes"></div>
  <div class="mouth"></div>
</div>



