<div class="flex flex-col min-h-screen relative z-20">
  <div class="relative container xl:w-[1200px] flex items-center ml-auto mr-auto xl:h-[450px] block bg-black">
    <img [src]="'assets/wehmeyer.jpg'" />
    <div class="absolute z-20 top-0 md:top-auto md:h-auto md:bottom-8 lg:w-[33.3%] flex- w-full h-full justify-center items-center">
      <h1 class="block text-center text-white text-3xl max-w-5xl md:text-5xl p-4">Inloggen</h1>
    </div>
  </div>
  <div class="xl:w-[1100px] container mx-0 md:mx-auto flex md:justify-end relative z-10 w-full">
    <div class="bg-white w-full p-8 md:-mt-16 md:w-[550px]">
      <app-login-form></app-login-form>
    </div>
  </div>
</div>
