.smiley {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: yellow;
  position: relative;
}

.hair {
  width: 60px;
  height: 60px;
  background-color: brown;
  position: absolute;
  top: -30%;
  left: 20%;
  border-radius: 50% 50% 0 0;
  transform: rotate(-30deg);
}

.eyes {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 30%;
  left: 20%;
}

.eyes.right {
  left: 55%;
}

.mouth {
  width: 60px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: rotate(15deg);
}

/* Animatie */
@keyframes wink {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.eyes {
  animation: wink 2s infinite;
}
