<form [formGroup]="userForm" (ngSubmit)="onUpdateUser(userForm)" *ngIf="!loadingUser else showLoading">
  <fieldset>
    <div class="mb-4">
      <label for="user_name">Gebruikersnaam</label>
      <input type="text" id="user_name" formControlName="username" class="border border-gray-200 p-4 rounded-m w-full active:border-black focus:border-black" />
    </div>
    <div class="mb-4">
      <label for="user_nickname">Weergegeven naam</label>
      <input type="text" id="user_nickname" formControlName="user_nickname" class="border border-gray-200 p-4 rounded-m w-full active:border-black focus:border-black" />
    </div>
    <div class="mb-4">
      <label for="user_first_name">Voornaam</label>
      <input type="text" id="user_first_name" formControlName="user_first_name" class="border border-gray-200 p-4 rounded-m w-full active:border-black focus:border-black" />
    </div>
    <div class="mb-4">
      <label for="user_last_name">Achternaam</label>
      <input type="text" id="user_last_name" formControlName="user_last_name" class="border border-gray-200 p-4 rounded-m w-full active:border-black focus:border-black" />
    </div>
    <div class="mb-4">
      <label for="user_email">E-mailadres</label>
      <input type="email" id="user_email" formControlName="user_email" class="border border-gray-200 p-4 rounded-m w-full" />
    </div>
    <div class="mb-4 flex w-full">
      <button class="button button-black">
        Gegevens opslaan
      </button>
      <button class="text-red-800 p-4 ml-auto">
        Account verwijderen
      </button>
    </div>
  </fieldset>
</form>
<ng-template #showLoading>
  Gegevens aan het ophalen
</ng-template>
