<div class="flex flex-col min-h-screen relative z-20 animate-fade-up animate-once animate-ease-in-out animate-duration-200">
  <div class="container xl:w-[1200px] ml-auto mr-auto md:min-h-auto">
    <div class="relative container xl:h-[450px] md:h-[500px] align-center">
      <img src="assets/amaliaplein.jpg" />
    </div>
  </div>
  <div class="container max-w-[1280px] relative z-10 ml-auto mr-auto">
    <div class="xl:h-[650px] md:h-[500px] w-1/2 mt-[340px]">
      <div class="px-16">
        <h1 class="text-2xl">404. Pagina niet gevonden</h1>
        <p>Wij konden deze pagina niet vinden. mogelijk is de pagina verwijderd of bent u verkeerd door gelinkd</p>
      </div>
    </div>
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div>
