
<div class="flex flex-col min-h-screen relative z-20">
  <div class="relative container xl:w-[1200px] flex items-center ml-auto mr-auto xl:h-[450px] block bg-black">
    <img [src]="'assets/wehmeyer.jpg'" />
    <div class="absolute z-20 left-8 bottom-12 lg:w-[33.3%]">
      <h1 class="text-white text-4xl max-w-5xl p-4">Wachtwoord resetten</h1>
    </div>
  </div>
  <div class="flex flex-row w-[1000px] mr-auto ml-auto justify-self-start self-start">
    <div class="mt-[100px]">
      <p>Als je wilt inloggen, ga je akkoord met de huisregeles. De huisregels zijn:</p>
    </div>
    <div class="xl:w-[1100px] mx-auto flex justify-end relative z-10">
      <div class="bg-white p-8 -mt-16 w-[550px]">
        <form [formGroup]="userData" (ngSubmit)="onSubmitForm()">
          <label>E-mailadres</label>
          <input type="email" formControlName="email" placeholder="Vul je e-mailadres in" />
          <button type="submit" class="button button-black mt-4">Versturen</button>
        </form>
        <div class="mt-4">

        </div>
        <div class="">
          {{ feedbackMessage }}
        </div>
      </div>
    </div>
  </div>

  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div>



