
  <div class="mt-[200px]" *ngIf="teamStats">
    <div class="text-center p-4 m-auto md:w-[1000px]">
      <div class="w-[150px] m-auto">
        <img *ngIf="teamStats?.teamId !== null" src="{{ teamStats?.team_id | generateLogoUrl }}" />
      </div>
      <div class="p-8">
        <h3>Gemiddelde</h3>
        <div class="mb-2">
          <label>Gemid. balbezit:</label>
          <div class="block p-2">
            {{ teamStats?.avg_ball_possession_percentage | roundNumber }} %
          </div>
        </div>
        <div class="mb-2">
          <label>Gemid. speler beoordeling:</label>
          <div class="block p-2">
            {{ teamStats?.avg_player_rating | roundNumber }}
          </div>
        </div>
        <h3 class="text-3xl mb-2">Doelpunten</h3>
        <h4 class="text-xl mb-4">Doelpunten/minuten</h4>
        <div class="flex flex-col gap-4 text-center md:w-[600px] m-auto">
          <div class="flex-1">
            <h3 class="text-xl mb-4">Eerste helft</h3>
            <div class="flex flex-col justify-center items-center w-full">
              <div class="bg-blue-500 mb-2" *ngIf="teamStats?.scoring_minutes[0].period[0].percentage !== 0" [ngStyle]="{'width': teamStats?.scoring_minutes[0].period[0].percentage * 2 + '%' } ">
                <div class="text-white">
                  {{ teamStats?.scoring_minutes[0].period[0].percentage }}%
                </div>
              </div>
              <div class="bg-blue-500 mb-2" *ngIf="teamStats?.scoring_minutes[0].period[1].percentage !== 0" [ngStyle]="{'width': teamStats?.scoring_minutes[0].period[1].percentage * 2 + '%' } ">
                <div class="text-white">
                  {{ teamStats?.scoring_minutes[0].period[1].percentage }}%
                </div>
              </div>
              <div class="bg-blue-500 mb-2" *ngIf="teamStats?.scoring_minutes[0].period[2].percentage !== 0" [ngStyle]="{'width': teamStats?.scoring_minutes[0].period[2].percentage * 2 + '%' } ">
                <div class="text-white">
                  {{ teamStats?.scoring_minutes[0].period[2].percentage }}%
                </div>
              </div>
            </div>
          </div>
          <div class="flex-1">
            <h3 class="text-xl mb-4">Tweede helft</h3>
            <div class="flex flex-col justify-center items-center">
              <div class="bg-blue-500 mb-2" *ngIf="teamStats?.scoring_minutes[0].period[3].percentage !== 0" [ngStyle]="{'width': teamStats?.scoring_minutes[0].period[3].percentage * 2 + '%' } ">
                <div class="text-white">
                  {{ teamStats?.scoring_minutes[0].period[3].percentage }}%
                </div>
              </div>
              <div class="bg-blue-500 mb-2" *ngIf="teamStats?.scoring_minutes[0].period[4].percentage !== 0" [ngStyle]="{'width': teamStats?.scoring_minutes[0].period[4].percentage * 2 + '%' } ">
                <div class="text-white">
                  {{ teamStats?.scoring_minutes[0].period[4].percentage }}%
                </div>
              </div>
              <div class="bg-blue-500 mb-2" *ngIf="teamStats?.scoring_minutes[0].period[5].percentage !== 0" [ngStyle]="{'width': teamStats?.scoring_minutes[0].period[5].percentage * 2 + '%' } ">
                <div class="text-white">
                  {{ teamStats?.scoring_minutes[0].period[5].percentage }}%
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="flex md:w-[500px] m-auto">
          <div class="p-8 flex-1">
            <h4 class="text-xl">Doelpunten gemaakt</h4>
            <div class="stat">
              <label>Thuis</label>
              <span class="value">
                {{ teamStats?.goals_for.home }}
              </span>
            </div>
            <div class="stat">
              <label>Uit</label>
              <span class="value">
                {{ teamStats?.goals_for.away }}
              </span>
            </div>
            <div class="stat">
              <label><strong>Totaal</strong></label>
              <span class="value">
                <strong>{{ teamStats?.goals_for.total }}</strong>
              </span>
            </div>
          </div>
          <div class="p-8 flex-1">
            <h4 class="text-xl">Doelpunten tegen</h4>
            <div class="stat">
              <label>Thuis</label>
              <span class="value">
                {{ teamStats?.goals_against.home }}
              </span>
            </div>
            <div class="stat">
              <label>Uit</label>
              <span class="value">
                {{ teamStats?.goals_against.away }}
              </span>
            </div>
            <div class="stat">
              <label><strong>Totaal</strong></label>
              <span class="value">
                <strong>{{ teamStats?.goals_against.total }}</strong>
              </span>
            </div>
          </div>
        </div>
        <h3>Kaarten</h3>
        <div class="stat">
          <label>Gele kaarten</label>
          <div class="value">
            {{ teamStats?.yellowcards }}
          </div>
        </div>
        <div class="stat">
          <label>Rode kaarten</label>
          <div class="value">
            {{ teamStats?.redcards }}
          </div>
        </div>
        <h3>Clean sheets</h3>
        <div class="stat">
          <label>Thuis</label>
          <div class="value">
            {{ teamStats?.clean_sheet.home }}
          </div>
        </div>
        <div class="stat">
          <label>Uit</label>
          <div class="value">
            {{ teamStats?.clean_sheet.away }}
          </div>
        </div>
        <div class="stat">
          <label>Totaal:</label>
          <div class="value">
            {{ teamStats?.clean_sheet.total }}
          </div>
        </div>
        <h3>Overige data</h3>
        <div class="stat">
          <label>Corners</label>
          <div class="value">
            {{ teamStats?.total_corners }}
          </div>
        </div>
        <div class="stat">
          <label>Schoten op doel</label>
          <div class="value">
            {{ teamStats?.shots_on_target }}
          </div>
        </div>
        <div class="stat">
          <label>Schoten naast of over het doel</label>
          <div class="value">
            {{ teamStats?.shots_off_target }}
          </div>
        </div>
      </div>
    </div>
  </div>
