<div *ngIf="!loading;">
  <div class="md:p-0" *ngIf="nextMatch?.fixtures || nextMatch?.length > 0;">
    <div class=" max-w-full relative m-auto z-10 text-center bg-black">
      <a class="group transition-all" [routerLink]="['/', 'voorbeschouwing', nextMatchPost?.slug, nextMatchPost?.id]">
        <div [ngClass]="['matches next-match']" class="p-6 group-hover:bg-gray-800">
          <div class="flex items-center text-center justify-center">
            <div class="flex">
              <div class="text-white flex items-center justify-center space-x-4">
                <div class="text-center items-center justify-center">
                  <img src="{{ nextMatch?.fixtures[0].participants[0].id | generateLogoUrl }}" class="w-[80px] m-auto h-auto" />
                </div>
              </div>
              <div class="px-4">
                <div class="text-base text-white dark:text-white">{{ validDateFormat(nextMatch?.fixtures[0].starting_at) | date: 'EEEE'}}</div>
                <div class="text-base text-white dark:text-white">{{ validDateFormat(nextMatch?.fixtures[0].starting_at) | date: 'd MMMM'}}</div>
                <div class="text-base text-white dark:text-white">{{ validDateFormat(nextMatch?.fixtures[0].starting_at) | date: 'HH:mm' }}</div>
              </div>
              <div class="text-white flex items-center justify-center space-x-4">
                <div class="text-center items-center justify-center">
                  <img src="{{ nextMatch?.fixtures[0].participants[1].id | generateLogoUrl }}" class="w-[80px] m-auto h-auto" />
                </div>
              </div>
            </div>
          </div>
          <span class="inline-block bg-blue-500 group-hover:bg-blue-600 text-sm text-white p-2">
            Praat mee
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
<div *ngIf="loading" class="flex flex-col items-center justify-center">
  <p class="text-white">Wedstrijd ophalen</p>
</div>
