<div class=" m-auto xl:w-[1200px] relative container flex justify-center items-center main-menu" [ngClass]="{'menu-open': (menuService.isOpen | async)}">
  <div class="flex-1 text-left">
    <nav class="hidden lg:block left-menu">
      <ul class="flex space-x-2 uppercase text-white menu-left">
        <li>
          <a class="button button-black flex" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">Home</a>
        </li>
        <li>
          <a class="button  button-black flex" (click)="menuService.close()" routerLinkActive="active" routerLink="/nieuws">Nieuws</a>
        </li>
        <li>
          <a class="button  button-black flex" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['specials']">Specials</a>
        </li>
        <li class="has-sub-menu group rounded-md" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span (click)="menuService.close()" class="button button-black hidden md:flex items-center hover:hidden group-hover:hidden md:group-hover:flex">Club <fa-icon class="text-xs ml-2" [icon]="faChevronDown"></fa-icon></span>
          <div class="sub-menu absolute md:hidden w-full left-0 pt-6 group-hover:flex">
            <div class="bg-black md:bg-white sub-menu-inner p-8 w-full h-[300px] md:flex">
              <div class="mt-4 md:p-4">
                <h4 class="my-4 text-black font-bold">Eerste elftal</h4>
                <ul class="">
                  <li>
                    <a class="text-black text-sm" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['club', 'selectie']">Selectie</a>
                  </li>
                </ul>
              </div>
              <div class="mt-4 md:p-4">
                <h4 class="my-4 text-black font-bold">Competitie</h4>
                <ul class="">
                  <li>
                    <a class="text-black text-sm" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['club', 'competitie', 'wedstrijdprogramma']">Wedstrijdprogramma</a>
                  </li>
                  <li>
                    <a class="text-black text-sm" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['club', 'competitie', 'uitslagen']">Uitslagen</a>
                  </li>
                  <li>
                    <a class="text-black text-sm" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['club', 'competitie', 'stand']">Stand</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="flex-1 text-right uppercase text-white menu-right">
    <nav class="hidden lg:block right-menu">
      <ul class="flex space-x-2 uppercase text-white justify-end">
<!--        <li>-->
<!--          <a class="button button-black flex" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['shop']">-->
<!--            Shop-->
<!--          </a>-->
<!--        </li>-->
<!--        <li *ngIf="hasCartItem()">-->
<!--          <a class="button button-black flex" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['shop', 'winkelwagen']">-->
<!--            <fa-icon [icon]="faShoppingCart" class="mr-2"></fa-icon>  {{ cartQuantity }}-->
<!--          </a>-->
<!--        </li>-->
        <li *ngIf="!isLoggedIn()">
          <a class="button  button-black flex" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['account', 'register']">Registreer</a>
        </li>
        <li *ngIf="!isLoggedIn()">
          <a class="button  button-black flex" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"[routerLink]="['account', 'login']">Inloggen</a>
        </li>
        <li *ngIf="isLoggedIn()">
          <a class="button  button-black flex" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['account', 'details', 'mijn-gegevens']">
            Mijn HAFC
          </a>
        </li>
        <li *ngIf="isLoggedIn()">
          <a class="button button-black flex" (click)="menuService.close()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['account', 'logout']" title="Uitloggen">Uitloggen</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
