
<div class="flex flex-col min-h-screen relative z-20">
  <div class="relative container xl:w-[1200px] flex items-center ml-auto mr-auto xl:h-[450px] block bg-black">
    <img [src]="'assets/wehmeyer.jpg'" />
    <div class="absolute z-20 left-8 bottom-12 lg:w-[33.3%]">
      <h1 class="text-white text-4xl max-w-5xl p-4">Wachtwoord resetten</h1>
    </div>
  </div>
  <div class="flex flex-row w-[1000px] mr-auto ml-auto justify-self-start self-start">
    <div class="mt-[100px] p-8">
    </div>
    <div class="xl:w-[1100px] mx-auto flex justify-end relative z-10">
      <div class="bg-white p-8 -mt-16 w-[550px]">
        <div class="mb-4 p-4 bg-orange-200 text-orange-800 rounded-md">
          <h3 class="text-xl">Let op</h3>
          <p>Er is een autorisatiecode gestuurd naar je e-mailadres. Vul de volgende gegevens binnen 15 minuten in:</p>
          <ul class="list-disc ml-8 my-2">
            <li>Autorisatiecode</li>
            <li>E-mailadres</li>
            <li>Nieuw wachtwoord</li>
          </ul>
        </div>
        <form [formGroup]="userData" (ngSubmit)="onSubmitForm()">
          <div class="mb-4">
            <label>Autorisatiecode (Zie je mail)</label>
            <input type="text" formControlName="authorizationcode" placeholder="Vul de autorisatiecode in" />
          </div>
          <div class="mb-4">
            <label>E-mailadres</label>
            <input type="email" formControlName="email" placeholder="Vul je e-mailadres ter bevestiging in" />
          </div>
          <div class="mb-4">
            <label>Nieuw wachtwoord</label>
            <input type="password" formControlName="password" placeholder="Vul je nieuwe wachtwoord in" />
          </div>
          <div class="mb-4">
            <button type="submit" class="button button-black mt-4">Bevestigen</button>
          </div>
        </form>
        <div class="mt-4 p-2 bg-red-200 text-red-800 rounded-md" *ngIf="feedbackMessage !== ''">
          {{ feedbackMessage }}
        </div>
      </div>
    </div>
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div>
