<div class=" w-full mt-8 md:mt-0 md:w-auto top-2 md:right-2 p-4 z-20 text-center text-white flex flex-col bg-black rounded-t-md">
  <h2 class="text-xl md:text-3xl mb-2">#transferdeadline</h2>
  <div class="flex justify-center items-center w-full md:w-auto">
    <div class="justify-between flex flex-col mr-4">
      <strong class="block text-xl md:text-3xl bg-black rounded-md p-2 mt-2">{{ days }} <span class="text-xl font-normal">d.</span></strong>
    </div>
    <div class="justify-between flex flex-col mr-4">
      <strong class="block text-xl md:text-3xl bg-black rounded-md p-2 mt-2">{{ hours }} <span class="text-xl font-normal">u.</span></strong>
    </div>
    <div class="justify-between flex flex-col mr-4">
      <strong class="block text-xl md:text-3xl bg-black rounded-md p-2 mt-2">{{ minutes }} <span class="text-xl font-normal">m.</span></strong>
    </div>
    <div class="justify-between flex flex-col">
      <strong class="block text-xl md:text-3xl bg-black rounded-md p-2 mt-2">{{ seconds }} <span class="text-xl font-normal">s.</span></strong>
    </div>
  </div>
  <a class="inline-block mt-4 mb-4 rounded-md button button-blue self-center" routerLink="/nieuws/31973/hafc-transfertopic">Praat mee</a>
</div>
