<div *ngIf="posts.length !== 0" class="overflow-hidden relative">
  <a class="absolute p-3 z-30 block bg-red-500 text-white right-0 top-0" [routerLink]="['page', 31238, 'word-sponsor-op-hafc']">
    <h2 class="text-xl font-bold">Help HAFC</h2>
    <p>Word sponsor</p>
  </a>
  <swiper-container fmSwiper [config]="config" init="false">
    <swiper-slide *ngFor="let post of posts">
      <a (click)="showLoading()" class="relative xl:w-[1200px] flex items-center flex-col justify-center w-full h-[500px]] md:h-[550px] group" [routerLink]="[post.categories[0] === 37 ? 'voorbeschouwing' : 'nieuws', post.id, post.slug]">
        <div class="h-450px relative w-full">
          <img [src]="post?.better_featured_image.source_url" class=" object-cover object-center w-full h-[550px] object-cover transition-all w-full block" />
          <div class="mt-4 flex flex-col absolute bottom-24 w-full justify-center md:text-left text-center m-auto z-30 md:bottom-32 lg:w-[50%] md:pl-16">
            <h1 [innerHTML]="post?.title?.rendered" class="text-white font-bold md:text-3xl text-3xl md:leading-normal leading-normal p-4"></h1>
            <span class="inline md:ml-4 text-white mb-4">{{ validDateFormat(post?.date)  | date: 'd MMMM' }}</span>
            <div class="text-sm md:text-base dark:text-white" *ngIf="post?.comment_status === 'open'">{{ post?.comments_count | commentsString }}</div>
          </div>
        </div>
        <div class="bg-gradient-to-t from-black to-transparent w-full h-full z-10 absolute left-0 right-0 top-0 bottom-0"></div>
      </a>
    </swiper-slide>
    <div class="md:ml-16 absolute md:w-auto w-full bottom-[140px] -mt-[100px] left-0 md:bottom-4 flex black z-30">
      <button class="prev flex items-center absolute left-0 md:left-auto md:relative justify-center hover:text-blue-500 h-[50px] w-[50px] text-white" title="Vorige foto">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </button>
      <button class="next flex items-center absolute right-0 md:right-auto md:relative justify-center hover:text-blue-500 h-[50px] w-[50px] text-white" title="Volgende foto">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </button>
    </div>
  </swiper-container>
</div>
