<div class="flex flex-col min-h-screen relative z-20 animate-fade-up animate-once animate-ease-in-out animate-duration-200">
  <div class="container xl:w-[1200px] ml-auto mr-auto md:min-h-auto">
    <div class="relative container xl:h-[250px] md:h-[300px] align-center">
      <img src="assets/amaliaplein.jpg" class="h-[250px] md:h-[300px] w-full object-cover" />
    </div>
  </div>
  <div class="m-auto w-1/2">
    <div class="relative container flex justify-center xl:h-[250px] md:h-[300px] align-center">
      <div class="px-16 bg-white py-8 px-4" >
        <p>
          <a [routerLink]="['/']">
            Terug naar de homepage
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
