<div class="flex flex-col min-h-screen relative z-20 animate-fade-up animate-once animate-ease-in-out animate-duration-200">
  <div class="container xl:w-[1200px] ml-auto mr-auto md:min-h-auto">
    <div class="relative container xl:h-[250px] md:h-[300px] align-center">
      <img src="assets/amaliaplein.jpg" class="h-[250px] md:h-[300px] w-full object-cover" />
    </div>
  </div>
  <div class="flex flex-col md:flex-row">
    <div class="m-auto md:w-1/2 bg-white w-full">
      <div class="relative container flex flex-col justify-center xl:h-[250px] md:h-[300px] text-center align-center">
        <img src="assets/giphy.webp" class="md:w-[400px] w-[300px] h-auto m-auto" />
        <div class="bg-white py-8 px-4" >
          <h1 class="text-3xl">Dank je wel!</h1>
          <p class="mt-4">
            <a [routerLink]="['/']">
              Terug naar de homepage
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
