
<div class="comments-section">
  <div *ngIf="!loadingComments;">
    <ul *ngIf="comments.length > 0;" class="xl:w-[1100px] ml-auto mr-auto">
      <h3 class="text-4xl pt-4">Reacties</h3>
      <li *ngFor="let comment of comments" class="p-8">
        <div class="author-name p-4 ml-4 text-xl">
          <h3 class="text-xl font-bold">{{ comment.author_name }} <fa-icon [icon]="faCheck" *ngIf="comment.author !== 0" title="Geverifiëerde gebruiker"></fa-icon></h3>
        </div>
        <div class="comment-content p-8 bg-white">
          <p [innerHTML]="comment.content.rendered" class="text-black"></p>
          <div class="text-sm ">
            <h4>
              <span class="date">{{ validDateFormat(comment.date) | date: 'EEEE, d MMMM, y' }}</span> <span class="time">{{ validDateFormat(comment.date) | date: 'HH:mm' }}</span>
            </h4>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="loadingComments">
    <p class="text-black p-8 xl:w-[1100px] ml-auto mr-auto">Reacties ophalen</p>
  </div>
  <div *ngIf="noCommentsLoaded && !loadingComments" class="p-8">
    <p class="mt-4 p-8 text-center text-red-800">{{ noCommentsMessage }}</p>
  </div>
</div>
