<div class="flex flex-col min-h-screen">
  <div class="container max-w-[1100px] relative z-10 ml-auto mr-auto">
    <div class="md:h-[450px] overflow-hidden bg-black">
      <app-nieuwsslider [headlines]="headlines"></app-nieuwsslider>
    </div>
    <div class="p-4 text-center relative border-b border-black mt-4 mb-8">
      <app-volgende-wedstrijd></app-volgende-wedstrijd>
    </div>
    <div class="mt-8 px-4 md:px-0 extra-bg">
      <app-nieuwslijst [posts]="posts"></app-nieuwslijst>
    </div>
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div>


