
<div class="flex flex-col" *ngIf="!loading">
  <div class="container max-w-[1200px] relative z-10 ml-auto mr-auto">
    <div class="md:h-[550px] m-h-[450px] overflow-hidden relative bg-gray-800 min-h-[550px] animate-fade-up animate-once animate-duration-300 animate-ease-linear animate-delay-100">
<!--      <ng-container *ngIf="isBrowser">-->
<!--        <ng-container *ngComponentOutlet="newssliderComponent"></ng-container>-->
<!--      </ng-container>-->
      <a class="absolute p-3 z-30 block bg-red-500 text-white right-0 top-0" [routerLink]="['page', 31238, 'word-sponsor-op-hafc']">
        <h2 class="text-xl font-bold">Help HAFC</h2>
        <p>Word sponsor</p>
      </a>
      <a (click)="showLoading()" class="relative xl:w-[1200px] flex items-center flex-col justify-center w-full h-[500px]] md:h-[550px] group" [routerLink]="[headlines?.categories[0] === 37 ? 'voorbeschouwing' : 'nieuws', headlines?.id, headlines?.slug]">
        <div class="h-450px relative w-full">
          <img [src]="headlines?.better_featured_image.source_url" class=" object-cover object-center w-full h-[550px] object-cover transition-all w-full block" fill priority rel="preload" />
          <div class="mt-4 flex flex-col absolute bottom-24 w-full justify-center md:text-left text-center m-auto z-30 md:bottom-32 lg:w-[50%] md:pl-16">
            <h1 [innerHTML]="headlines?.title?.rendered" class="text-white font-bold md:text-3xl text-3xl md:leading-normal leading-normal p-4"></h1>
            <span class="inline md:ml-4 text-white mb-4">{{ validDateFormat(headlines?.date)  | date: 'd MMMM' }}</span>
            <span class="inline md:ml-4 text-white">{{ headlines?.comments_count }} reacties</span>
          </div>
        </div>
        <div class="bg-gradient-to-t from-black to-transparent w-full h-full z-10 absolute left-0 right-0 top-0 bottom-0"></div>
        <div class="slider-animation"></div>
      </a>
    </div>
    <div class="flex md:flex-row flex-col-reverse animate-fade-up animate-once animate-duration-300 animate-ease-linear animate-delay-1000">
      <div class="w-full md:w-2/3 ">
        <div class="md:ml-0 px-4 md:mr-4 md:px-0 md:mt-4">
          <app-newslist [compact]="true" [pagination]="false"></app-newslist>
        </div>
      </div>
      <div class="w-full md:p-0 md:w-1/3">
        <div class="md:p-0 pb-4">
          <div class="-mt-[80px] md:-mt-[208px] md:mx-0 mx-4 max-w-full relative m-auto z-10 text-center">
            <div class="rounded-md overflow-hidden">
              <app-countdown></app-countdown>
              <app-volgende-wedstrijd></app-volgende-wedstrijd>
            </div>
          </div>
        </div>
        <h3 class="p-4 pl-8 pr-12 text-xl mt-4 block dark:text-white relative border-b border-black dark:border-gray-300">
          <span class="text-blue-500">Gewaardeerde</span> sponsoren
        </h3>
        <div class="gap-4 mb-4 bg-white rounded-md rounded-tl-none dark:bg-gray-900 p-4">
          <app-ads [layout]="'square'"></app-ads>
        </div>
        <h3 class="p-4 pl-8 pr-12 text-xl mt-4 block dark:text-white relative border-b border-black dark:border-gray-300">
          <span class="text-blue-500">Laatste</span> reacties
        </h3>
        <div class="md:p-8 rounded-md rounded-tl-none bg-white dark:bg-gray-900 p-8 mb-4">
          <app-latest-comments [comments]="latestComments"></app-latest-comments>
        </div>
        <h3 class="p-4 pl-8 pr-12 text-xl mt-4 block dark:text-white relative border-b border-black dark:border-gray-300">
          <span class="text-blue-500">Stand</span> Eredivisie
        </h3>
        <div class="md:p-4 bg-white dark:bg-gray-900 p-4 mb-4 rounded-md rounded-tl-none">
          <app-stand [compact]="true"></app-stand>
          <div class="flex justify-center md:justify-start">
            <a routerLink="club/competitie/stand" class="block m-4 rounded-md button button-blue" title="Bekijk de gehele stand">Bekijk gehele stand</a>
          </div>
        </div>
        <div class="md:mt-4 p-4 md:p-0">
          <app-player-of-the-week></app-player-of-the-week>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-auto">
    <app-footer [links]="links"></app-footer>
  </div>
</div>
