<div class="relative z-20 bg-white p-4">
  <div class="container ml-auto mr-auto" [ngClass]="{'xl:w-[1100px]': !compact}">
    <div class="o-table">
      <div class="o-table-header" *ngIf="ranking.length > 0">
        <div class="o-table-row" *ngIf="!compact">
          <div class="o-table-cell"></div>
          <div class="o-table-cell"></div>
          <div class="o-table-cell pr-2"></div>
          <div class="o-table-cell"></div>
          <div class="o-table-cell" *ngIf="!compact"></div>
          <div class="o-table-cell" *ngIf="!compact"></div>
          <div class="o-table-cell" *ngIf="!compact"></div>
          <div class="o-table-cell" *ngIf="!compact"></div>
          <div class="o-table-cell" *ngIf="!compact"></div>
          <div class="o-table-cell" *ngIf="!compact"></div>
          <div class="o-table-cell"></div>
        </div>
      </div>
      <div class="o-table-body">
        <div class="o-table-row" *ngFor="let club of ranking; let i = index;" [ngClass]="{'font-bold': club.team_name === 'Heracles Almelo'}">
          <div class="o-table-cell rank-position">
            {{ club?.position }}
          </div>
          <div class="o-table-cell rank-logo py-2">
            <img [src]="[club?.team_id | generateLogoUrl]" class="w-8" />
          </div>
          <div class="o-table-cell rank-clubname">
            <a class="hover:text-blue-500 hover:underline" [routerLink]="['/', 'club', 'teamstats', club.team_id]" [title]="club?.team_name">{{ club?.team_name }}</a>
          </div>
          <div class="o-table-cell left-auto py-2">
            {{ club?.overall.games_played }}
          </div>
          <div class="o-table-cell py-2" *ngIf="!compact">
            {{ club?.overall.won }}
          </div>
          <div class="o-table-cell py-2" *ngIf="!compact">
            {{ club?.overall.draw }}
          </div>
          <div class="o-table-cell py-2" *ngIf="!compact">
            {{ club?.overall.lost }}
          </div>
          <div class="o-table-cell py-2" *ngIf="!compact">
            {{ club?.overall.goals_scored }}
          </div>
          <div class="o-table-cell py-2" *ngIf="!compact">
            {{ club?.overall.goals_against }}
          </div>
          <div class="o-table-cell py-2" *ngIf="!compact">
            {{ calculateGoalDifference(club?.total.goal_difference) }}
          </div>
          <div class="o-table-cell">
            {{ club?.points }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
