<div class="grid gap-4" [ngClass]="{'grid-cols-2' : layout === 'square', '': layout === 'horizontal'}">
  <a *ngFor="let ad of randomizedAds" [href]="ad.acf.link" [target]="ad.acf.target" class="">
    <img [src]="ad.acf.banner.url" class="block m-auto rounded-md" />
  </a>
</div>
<div class="mt-8 w-full">
  <a [routerLink]="['/', 'page', 31238, 'word-sponsor-op-hafc']" class="text-center text-blue-500  p-4 text-xl block w-full hover:bg-black hover:text-xl transition-all">
    Help HAFC en word ook sponsor! <fa-icon [icon]="arrowRight"></fa-icon>
  </a>
</div>

