<app-loading-indicator *ngIf="loading"></app-loading-indicator>
<app-header></app-header>
<router-outlet></router-outlet>
<div class="flex justify-center items-center flex-col p-8">
  <h4 class="text-md text-gray-700 block my-4 text-center">Hoofdsponsoren</h4>
  <div class="flex flex-row space-x-4">
    <a href="https://www.mumba.nl" target="_blank" title="Mumba Web Solutions" class="block w-auto">
      <img src="assets/logo-mumba.svg" alt="Gemaakt door Mumba Web Solutions" class="block h-[70px]" />
    </a>
    <a href="https://www.shockmedia.nl" target="_blank" title="Shock media" class="block w-auto">
      <img src="assets/shock-media.svg" alt="Hosting door ShockMedia" class="block h-[70px] " />
    </a>
  </div>
</div>
