<div class="flex flex-col min-h-screen">
  <div class="container max-w-[1200px] relative z-10 ml-auto mr-auto">
    <div class="m-h-[450px] overflow-hidden relative min-h-[550px]">
      <div class="grid grid-cols-2 bg-white" *ngIf="product">
        <div class="w-[500px] h-[500px] flex items-center justify-center p-4 bg-white">
          <img [srcset]="product?.images[0].src" [alt]="product.name" class="w-full border border-gray-200 rounded-md" />
        </div>
        <div class="bg-white p-8">
          <h1 class="text-black text-3xl" [innerHTML]="product?.name"></h1>
          <div class="">
            <h3 class="text-xl text-blue-500 text-black" [ngClass]="{'line-trough opacity-50 text-gray-800': product?.sale_price}">{{ product?.regular_price * 1.21 | currency: 'EUR' }}</h3>
            <h3 class="text-blue-500 text-2xl" *ngIf="product?.sale_price">{{ product?.sale_price | currency: 'EUR' }}</h3>
            <div [innerHTML]="product?.description" class="product-content"></div>
            <div class="flex mt-8 pt-8 border-t border-gray-200">
              <form [formGroup]="productFormData" (ngSubmit)="onAddToCart(productFormData)">
                <input type="hidden" formControlName="product_id" />
                <input type="number"  placeholder="Aantal" formControlName="quantity" class="w-[50px] rounded-tl-md rounded-bl-md" />
                <button type="submit" class="button button-blue rounded-tl-none rounded-bl-none rounded-tr-md rounded-br-md">
                  Bestel nu
                </button>
              </form>
            </div>
            <div class="mt-4 p-4 border border-gray-200 rounded-md">
              <h4 class="text-xl font-bold mb-4">Specificaties</h4>
              <ul>
                <li class="flex flex-col mb-4" *ngFor="let attribute of product?.attributes">
                  <div class="flex flex-col">
                    <div *ngIf="attribute.visible" class="flex">
                      <span class="capitalize font-bold inline-block w-[220px]">{{ attribute.name }}</span>
                      <span class="" *ngFor="let option of attribute.options">
                        {{ option }}
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
