<div class="flex flex-col">
  <div class="container relative z-10 ml-auto mr-auto bg-black">
    <a [routerLink]="['/', 'shop', 'winkelwagen']" class="mb-4 inline-block darK;text-white">Terug naar winkelwagen</a>
    <form [formGroup]="formData" (submit)="onProceedPayment(formData)">
      <div class="flex flex-col md:flex-row space-x-4 mb-12">
        <div class="md:w-2/3 p-8 mr-8">
          <h1 class="text-2xl ml-4 mb-4 dark:text-white">Afrekenen</h1>
            <div class="flex flex-col md:flex-row md:space-x-2 mb-4">
              <div class="flex flex-1 flex-col mb-4">
                <label>Voornaam</label>
                <input type="text" formControlName="firstName" placeholder="Voer je voornaam in" />
              </div>
              <div class="flex flex-1 flex-col">
                <label>Achternaam</label>
                <input type="text" formControlName="lastName" placeholder="Voer je achternaam in" />
              </div>
            </div>
            <div class="flex items-start space-x-2 mb-4">
              <div class="flex flex-col w-[120px]">
                <label>Postcode</label>
                <input type="text" formControlName="zipCode" placeholder="XXXX-XX" class="w-8" />
              </div>
              <div class="flex flex-col w-[70px]">
                <label>Huisnummer</label>
                <input type="text" placeholder="XX" formControlName="houseNumber" class="w-[50px]" />
              </div>
            </div>
          <div class="flex flex-col md:flex-row md:space-x-2 mb-4">
            <div class="flex-1 mb-4">
              <div class="flex w-[100%] flex-col">
                <label>Adres</label>
                <input type="text" formControlName="address_1" placeholder="Voer je adres in" />
              </div>
            </div>
            <div class="flex-1">
              <div class="flex flex-col">
                <label>Woonplaats</label>
                <input type="text" formControlName="city" placeholder="Voer je woonplaats in" />
              </div>
            </div>
          </div>
          <div class="flex flex-col md:flex-row md:space-x-2">
            <div class="flex-1 mb-4">
              <div class="flex flex-col">
                <label>E-mail</label>
                <input type="text" formControlName="email" placeholder="naam@provider.nl" />
              </div>
            </div>
            <div class="flex-1 mb-4">
              <div class="flex flex-col">
                <label>Telefoonummer</label>
                <input type="text" formControlName="phone" placeholder="+316" />
              </div>
            </div>
          </div>
        </div>
        <div class="md:w-1/3">
          <div class="p-8 mb-8 dark:text-white dark:bg-gray-800 mr-8">
            <h3 class="text-2xl mb-4">Totaal</h3>
            <div class="table-row">
              <div class="table-cell"></div>
              <div class="table-cell"></div>
              <div class="table-cell">Verzending {{ calculateShippingInclBtw(cart.cartTotals.shipping_total, cart.cartTotals.shipping_tax) | currency: 'EUR' }}</div>
            </div>
            <div class="table-row">
              <div class="table-cell"></div>
              <div class="table-cell"></div>
              <div class="table-cell">Totaal {{ fixedNumber(toNumber(cart.cartTotals.total)) | currency: 'EUR' }}</div>
            </div>
            <div class="mt-4">
              <button type="submit" class="button button-blue" >
                Nu betalen
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
