<div class="h-[300px]"></div>
<div class="flex flex-col">
  <div class="w-[1200px] relative z-10 ml-auto mr-auto">
    <div class="flex space-x-4 mb-12">
      <div class="w-2/3 p-8 bg-white mr-8">
        <h1 class="text-2xl">Afrekenen</h1>
        <form>
          <div class="flex flex-col">
            <label>Voornaam</label>
            <input type="text" placeholder="Voer je voornaam in" />
          </div>
          <div class="flex flex-col">
            <label>Achternaam</label>
            <input type="text" placeholder="Voer je achternaam in" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
