
<div class="container xl:w-[1280px] ml-auto mr-auto relative z-20 p-8">
  <div class="container xl:w-[1200px] max-h-[500px] overflow-hidden ml-auto mr-auto relative z-10">
    <img src="assets/wedstrijden.jpg" class="block m-auto w-full max-h-[500px] object-cover object-center" />
  </div>
  <div class="flex">
    <div class="">
      <div class="flex flex-col w-full items-center justify-center w-1/2 mt-8">
        <a class="mb-8 p-8 border-b border-b-gray-100 bg-white" *ngFor="let match of teamFixtures" (click)="onOpenMatchReport(match.id)">
          <div class="flex">
            <div class="club-logo">
              <img class="w-24 block" src="{{ match.localteam_id | generateLogoUrl }}" />
            </div>
            <div class="px-12">
              <div class="date">{{ validDateFormat(match.time.starting_at.date_time) | date: 'EEEE'}}</div>
              <div class="date"><strong>{{ validDateFormat(match.time.starting_at.date_time) | date: 'd MMMM' }}</strong></div>
              <div>{{ validDateFormat(match.time.starting_at.date_time) | date: 'HH:mm': 'GMT+4' }}</div>
            </div>
            <div class="club-logo">
              <img class="w-24 block" src="{{ match.visitorteam_id | generateLogoUrl }}" />
            </div>
          </div>
        </a>
      </div>
      <div class="flex flex-col items-center w-full justify-center w-1/2 mt-8">
        <a class="mb-8 p-8 border-b border-b-gray-100 bg-white" *ngFor="let match of teamResults" (click)="onOpenMatchReport(match.id)">
          <div class="flex">
            <div class="club-logo">
              <img class="w-24 block" src="{{ match.localteam_id | generateLogoUrl }}" />
            </div>
            <div class="px-12">
              <div class="date">{{ validDateFormat(match.time.starting_at.date_time) | date: 'EEEE'}}</div>
              <div class="date"><strong>{{ validDateFormat(match.time.starting_at.date_time) | date: 'd MMMM' }}</strong></div>
              <div>{{ validDateFormat(match.time.starting_at.date_time) | date: 'HH:mm': 'GMT+4' }}</div>
            </div>
            <div class="club-logo">
              <img class="w-24 block" src="{{ match.visitorteam_id | generateLogoUrl }}" />
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="top-0 sticky w-1/2 -mt-16 z-20">
      <div class="bg-white p-8">
        <app-stand></app-stand>
      </div>
    </div>
  </div>
</div>
