
<div class="container xl:w-[1280px] ml-auto mr-auto relative z-20 flex p-8">
  <div class="flex flex-col items-center justify-center w-1/2">
    <a class="" *ngFor="let match of teamFixtures" (click)="onOpenMatchReport(match.id)">
      <div class="flex">
        <div class="club-logo">
          <img src="{{ match.localteam_id | generateLogoUrl }}" />
        </div>
        <div class="match-divider">
          <div class="date">{{ validDateFormat(match.time.starting_at.date_time) | date: 'EEEE'}}</div>
          <div class="date"><strong>{{ validDateFormat(match.time.starting_at.date_time) | date: 'd MMMM' }}</strong></div>
          <div class="date">{{ validDateFormat(match.time.starting_at.date_time) | date: 'HH:mm' }}</div>
          <div>{{ validDateFormat(match.time.starting_at.date_time) | date: 'HH:mm': 'GMT+4' }}</div>
        </div>
        <div class="club-logo">
          <img src="{{ match.visitorteam_id | generateLogoUrl }}" />
        </div>
      </div>
    </a>
  </div>
  <div class="p-8 top-0 sticky bg-white w-1/2">
    <app-stand></app-stand>
  </div>
</div>
