<div class="flex flex-col min-h-screen">
  <div class="container max-w-[1200px] relative z-10 ml-auto mr-auto">
    <div class="md:h-[550px] m-h-[450px] overflow-hidden relative min-h-[550px]">
      <div class="grid grid-cols-2">
        <a *ngFor="let product of products" class="bg-white p-4 border-b border-b-black" [routerLink]="['product', product?.slug]">
          <div class="">
            <img [srcset]="product?.images[0].src" [alt]="product.name" />
          </div>
          <div class="flex flex-col">
            <h2 [innerHTML]="product?.name" class="mb-4"></h2>
            <div class="">
              <h3 class="line-through text-xl text-black opacity-50">{{ product?.sale_price }}</h3>
              <h3 class="text-blue-500 text-2xl">{{ product?.regular_price }}</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
