
<header class="sticky top-0 bg-black h-[45px] flex md:h-[100px] z-40 text-white px-4 xl:px-10 ml-auto mr-auto animate-fade-down animate-once animate-duration-300 animate-ease-linear animate-delay-200">
  <button (click)="menuService.toggle()" class="mt-[5px] flex lg:hidden items-center">
    <fa-icon [icon]="faStream" class="mr-2"></fa-icon> Menu
  </button>
  <a class="absolute left-[50%] ml-[-50px] w-[100px] z-20 h-[80px] block" [routerLink]="['/']">
    <img src="../../../assets/logo_hafc.svg" class="top-2 h-auto m-4 block bg-white hover:scale-110 transition-all" title="HAFC" />
  </a>
  <app-navigation class="m-auto xl:w-[1200px] relative container flex justify-center items-center main-menu"></app-navigation>
  <a class="mt-[5px] flex lg:hidden items-center w-[180px] text-sm" [routerLink]="['/', 'doneer']" title="Steun HAFC">
    <fa-icon [icon]="faBeer" class="mr-2"></fa-icon> Steun ons
  </a>
</header>
