<div class="bg-white">
  <div class="container p-32">
    <p-inputGroup class="w-full md:w-30rem">
      <p-inputGroupAddon>
        <i class="pi pi-clock"></i>
      </p-inputGroupAddon>
      <p-inputGroupAddon>
        <i class="pi pi-star-fill"></i>
      </p-inputGroupAddon>
      <input type="text" pInputText placeholder="Price" />
      <p-inputGroupAddon>$</p-inputGroupAddon>
      <p-inputGroupAddon>.00</p-inputGroupAddon>
    </p-inputGroup>
  </div>
</div>
<p-sidebar [(visible)]="sidebarVisible">
  <h3>Sidebar</h3>
  <p>
    Lorem ipsum dolor sit amet...
  </p>
</p-sidebar>
<p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right" />
