<app-loading-indicator *ngIf="loading"></app-loading-indicator>
<div class="flex flex-col min-h-screen" *ngIf="!loading">
  <div class="container max-w-[1200px] relative z-10 ml-auto mr-auto mt-8">
    <div class="flex gap-4 h-[500px]">
      <div class="w-2/3 overflow-hidden relative bg-black">
        <a class="relative xl:w-[1200px] flex items-center block xl:h-[600px] block bg-black group" [routerLink]="['nieuws', headlines[0]?.id, headlines[0]?.slug]">
          <img [src]="headlines[0]?.better_featured_image?.source_url" class="object-cover w-full object-center transition-all block opacity-60 group-hover:scale-105 group-hover:opacity-100" />
          <div class="absolute z-20 left-8 bottom-16 md:block flex-col md:bottom-32 lg:w-[50%]">
            <h1 [innerHTML]="headlines[0]?.title?.rendered" class="text-white text-center md:text-left md:text-4xl text-2xl leading-10 p-4"></h1>
            <span class="block ml-4 text-white text-center md:text-left">{{ validDateFormat(headlines[0]?.date)  | date: 'd MMMM' }}</span>
          </div>
        </a>
      </div>
      <div class="flex w-1/3 flex-col gap-4">
        <a class="relative overflow-hidden flex flex-1 items-center block xl:h-[280] block bg-black group" [routerLink]="['nieuws', headlines[1]?.id, headlines[1]?.slug]">
          <img [src]="headlines[1]?.better_featured_image?.source_url" class="object-cover w-full object-center transition-all block opacity-60 group-hover:scale-105 group-hover:opacity-100" />
          <div class="absolute z-20 left-8 bottom-4 md:block flex-col">
            <h1 [innerHTML]="headlines[1]?.title?.rendered" class="text-white text-center md:text-left md:text-2xl text-xl leading-10 p-4"></h1>
            <span class="block ml-4 text-white text-center md:text-left">{{ validDateFormat(headlines[1]?.date)  | date: 'd MMMM' }}</span>
          </div>
        </a>
        <a class="relative overflow-hidden flex flex-1 items-center block xl:h-[280px] block bg-black group" [routerLink]="['nieuws', headlines[2]?.id, headlines[2]?.slug]">
          <img [src]="headlines[2]?.better_featured_image?.source_url" class="object-center w-full object-top transition-all block opacity-60 group-hover:scale-105 group-hover:opacity-100" />
          <div class="absolute z-20 left-8 bottom-4 md:block flex-col">
            <h1 [innerHTML]="headlines[2]?.title?.rendered" class="text-white text-center md:text-left md:text-2xl text-xl leading-10 p-4"></h1>
            <span class="block ml-4 text-white text-center md:text-left">{{ validDateFormat(headlines[2]?.date)  | date: 'd MMMM' }}</span>
          </div>
        </a>
      </div>
    </div>

  </div>
  <div class="container p-8 bg-white lg:w-[1200px] ml-auto mr-auto z-10 relative">
    <ul class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <li *ngFor="let post of posts" class="group">
        <a class="flex" [routerLink]="'/nieuws/' + post.id + '/' + post.slug" class="flex flex-col  bg-white h-full overflow-hidden">
          <div class="md:p-4 overflow-hidden">
            <img class="object-cover block group-hover:scale-105 transition-all object-top w-full h-[120px] md:h-[220px]" [src]="post.better_featured_image.source_url" [alt]="post.title" />
          </div>
          <div class="flex flex-col flex-1">
            <h3 class="p-2 md:p-4 text-base md:text-xl" [innerHTML]="post.title.rendered"></h3>
            <div class="px-2 pb-2 md:px-4 md:pb-4 mt-auto">
              <div class="text-sm md:text-base">{{ validDateFormat(post.date)  | date: 'd MMMM' }}</div>
              <div class="text-sm md:text-base">{{ post.comments_count }} reacties</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="flex justify-center mt-8">
      <button (click)="onLoadMorePosts()" class="button button-black">Meer specials</button>
    </div>
  </div>
  <div class="mt-auto">
    <app-footer></app-footer>
  </div>
</div>
