<app-loading-indicator *ngIf="loading"></app-loading-indicator>
<div class="flex flex-col min-h-screen">
  <div *ngIf="player?.id;">
    <div class="relative z-10 container w-full md:w-[1200px] flex items-center flex-col mr-auto ml-auto">
      <div class="flex mb-16 flex flex-col justify-center items-center md:w-[1000px]">
        <img [src]="player?.better_featured_image.source_url" [alt]="player?.acf.voornaam + ' ' + player.acf.achternaam" class="mt-16 block object-cover object-top block md:w-[400px] margin-auto animate-in animate-in slide-in-from-bottom-10 fade-in-25 fill-mode-forwards" />
        <div class="flex items-center bg-black" >
          <div class="bg-blue-500 m-4 h-full p-8 self-end text-5xl text-white">
            {{ player?.acf.rugnummer }}
          </div>
          <h1 class="text-3xl md:text-4xl leading-10 uppercase p-4">
            <span class="block text-4xl text-white">{{ player?.acf.voornaam }}</span>
            <span class="block text-4xl  text-white font-bold">{{ player?.acf.achternaam }}</span>
          </h1>
        </div>
      </div>
      <div>
        <div class="" *ngIf="!loading">
          <div class="content-page w-screen p-8 md:p-0 md:w-[1000px]">
            <div class="player-content-container items-center justify-center">
              <h3 class="text-3xl flex text-center mb-8 dark:text-white">Informatie</h3>
              <div class="dark:text-white mb-8 md:w-[33.3%]">
                <div class="py-2 flex">
                  <label class="inline-block mr-4">Geboren</label>
                  <div class="ml-auto mr-8">
                    {{ playerInfo.date_of_birth | date }}
                  </div>
                </div>
                <div class="py-2 flex">
                  <label class="inline-block mr-4">Lengte</label>
                  <div class="ml-auto mr-8">
                    {{ playerInfo.height }} cm
                  </div>
                </div>
                <div class="py-2 flex">
                  <label class="inline-block mr-4">Gewicht</label>
                  <div class="ml-auto mr-8">
                    {{ playerInfo.weight }} kg
                  </div>
                </div>
              </div>
              <h3 class="text-3xl mb-8 dark:text-white">Statistieken</h3>
              <div class="player-info-container grid grid-cols-1 md:grid-cols-3 gap-x-4 dark:text-white mb-24">
                <div *ngFor="let stat of playerStats" class="py-2 flex">
                  <label class="inline-block mr-4">{{ translate(stat.type.name) }}</label>
                  <div class="ml-auto mr-8">
                    <ng-container *ngIf="stat.value.total !== undefined">
                      {{ stat.value.total }}
                    </ng-container>
                    <ng-container *ngIf="stat.value.average !== undefined">
                      {{ stat.value.average }}
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
