<ul>
  <li *ngFor="let node of commentNodes" class="ml-4">
    <app-comment
      [isAuthenticated]="isAuthenticated"
      [comment]="node.comment"
      [commentLevel]="commentLevel + 1"
    ></app-comment>
    <ng-container *ngIf="!isMaxLevelReached()">
      <app-comment-tree
        *ngIf="node.children.length > 0"
        [commentNodes]="node.children"
        [isAuthenticated]="isAuthenticated"
        [commentLevel]="commentLevel + 1"
      ></app-comment-tree>
    </ng-container>
  </li>
</ul>
