<div class="flex flex-col">
  <div *ngIf="nextMatch" class="animate-fade-up animate-once animate-ease-in-out animate-duration-200">
    <div class="container xl:w-[1200px] ml-auto mr-auto">
      <div class="relative container h-[350px] md:h-[350px] align-center">
        <img [src]="post?.better_featured_image.source_url" class="object-cover object-top md:h-[350px] m-h-[250px] w-full h-full animate-in animate-in slide-in-from-bottom-10 fade-in-25 fill-mode-forwards" />
        <span class="absolute right-2 bottom-2 z-20 text-sm text-white">Foto: {{ post?.better_featured_image.caption }}</span>
        <div class="absolute z-20 top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 w-full">
          <div [ngClass]="['matches next-match']" class="p-6 group-hover:bg-gray-800">
            <div class="flex items-center text-center justify-center">
              <div class="flex">
                <div class="text-white flex items-center justify-center space-x-4">
                  <div class="text-center items-center justify-center">
                    <img src="{{ nextMatch.participants[0].id | generateLogoUrl }}" class="w-[80px] m-auto h-auto" />
                  </div>
                </div>
                <div class="px-4">
                  <div class="text-base text-white dark:text-white">{{ validDateFormat(nextMatch.starting_at) | date: 'EEEE'}}</div>
                  <div class="text-base text-white dark:text-white">{{ validDateFormat(nextMatch.starting_at) | date: 'd MMMM'}}</div>
                  <div class="text-base text-white dark:text-white">{{ validDateFormat(nextMatch.starting_at) | date: 'HH:mm' }}</div>
                </div>
                <div class="text-white flex items-center justify-center space-x-4">
                  <div class="text-center items-center justify-center">
                    <img src="{{ nextMatch.participants[1].id | generateLogoUrl }}" class="w-[80px] m-auto h-auto" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gradient-to-t from-black to-transparent w-full h-full z-10 absolute left-0 right-0 top-0 bottom-0"></div>
      </div>
    </div>
    <div class="flex flex-col xl:w-[1200px] ml-auto mr-auto relative z-20 animate-fade-up animate-once animate-ease-in-out animate-duration-200 animate-delay-700">
      <div class="container flex flex-col ml-auto mr-auto items-center">
        <div class="m-auto flex flex-col md:flex-row">
          <div class="w-full md:w-2/3 md:pr-4">
            <div class="bg-white dark:bg-gray-900 rounded-md mb-8 md:px-12 news-container">
              <div class="flex items-center md:flex border-b border-gray-200 dark:border-black dark:text-white text-xs mb-8 p-2 md:p-0">
                <div class="px-8 py-4 hidden md:flex">
                  <a routerLink="/" class="inline-block hover:underline dark:text-white mr-2 max-w-full overflow-hidden whitespace-nowrap text-ellipsis">Home</a> &rsaquo; <a routerLink="/nieuws" class="inline-block hover:underline mx-2 max-w-full overflow-hidden whitespace-nowrap text-ellipsis">Nieuws</a> &rsaquo; <span [innerHTML]="post?.title.rendered" class="inline-block dark:text-white mx-2 max-w-full overflow-hidden whitespace-nowrap text-ellipsis"></span>
                </div>
              </div>
              <div class="py-4 px-8">
                <h1 [innerHTML]="post?.title.rendered" class="text-4xl mb-4 leading-[1.25] dark:text-white"></h1>
                <p class="text-xs">Geschreven door {{ post?.author_data?.display_name }} op <span class="font-bold dark:text-white">{{ post.date | date }}</span></p>
                <div [innerHTML]="post?.content.rendered" class="leading-8 text-base leading-[1.5] dark:text-white"></div>
                <div *ngIf="post?.acf.spotify_link">
                  <a [href]="post?.acf.spotify_link" class="button button-blue no-underline" target="_blank">
                    Beluister op Spotify
                  </a>
                  <iframe [src]="post.acf.spotify_link | safe" width="100%" height="390" seamless="true"></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/3 relative">
            <div class="md:sticky md:top-[120px]">
              <h3 class="ml-4 p-2 text-xl my-8 inline-block dark:text-white relative border-b border-blue-500">
                Onze sponsoren
              </h3>
              <div class="p-4">
                <app-ads [layout]="'square'"></app-ads>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full xl:w-[1200px] container m-auto mb-8">
      <div *ngIf="post?.comment_status !== 'closed'; else commentsClosed">
        <div class="md:w-2/3 p-4 md:p-0 md:pr-4" id="comments">
          <app-comments [onReloadComments]="reloadComments" (replyToComment)="onReplyToComment($event)" [post]="post"></app-comments>
        </div>
      </div>
      <ng-template #commentsClosed>
        <p class="mb-8 text-xl dark:text-white">Op dit bericht kun je niet reageren</p>
      </ng-template>
    </div>
  </div>
  <div class="mt-auto" *ngIf="!loading">
    <app-footer></app-footer>
  </div>
</div>

<button class="fixed hover:cursor-pointer w-[200px] left-[50%] -ml-[100px] hover:bg-gray-900 p-4 bg-blue-500 text-white text-xl z-20 left-0 bottom-0" *ngIf="buttonVisible" (click)="onOpenCommentModal()">Reageer <fa-icon class="ml-4" [icon]="faComment"></fa-icon></button>

<app-modal-comment (commentSuccesful)="addComment($event)" (closeModal)="onModalClose()" [modalStatus]="modalCommentsOpen" [postId]="postId"></app-modal-comment>
