<div class="flex flex-col">
  <div *ngIf="nextMatch" class="animate-fade-up animate-once animate-ease-in-out animate-duration-200">
    <div class="container xl:w-[1200px] ml-auto mr-auto">
      <div class="relative container h-[350px] md:h-[350px] align-center">
        <img [src]="post?.better_featured_image.source_url" class="object-cover object-top md:h-[350px] m-h-[250px] w-full h-full animate-in animate-in slide-in-from-bottom-10 fade-in-25 fill-mode-forwards" />
        <span class="absolute right-2 bottom-2 z-20 text-sm text-white">Foto: {{ post?.better_featured_image.caption }}</span>
        <div class="absolute z-20 top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 w-full">
          <div [ngClass]="['matches next-match']" class="p-6 group-hover:bg-gray-800">
            <div class="flex items-center text-center justify-center">
              <div class="flex">
                <div class="text-white flex items-center justify-center space-x-4">
                  <div class="text-center items-center justify-center">
                    <img src="{{ nextMatch.participants[0].id | generateLogoUrl }}" class="w-[80px] m-auto h-auto" />
                  </div>
                </div>
                <div class="px-4">
                  <div class="text-base text-white dark:text-white">{{ validDateFormat(nextMatch.starting_at) | date: 'EEEE'}}</div>
                  <div class="text-base text-white dark:text-white">{{ validDateFormat(nextMatch.starting_at) | date: 'd MMMM'}}</div>
                  <div class="text-base text-white dark:text-white">{{ validDateFormat(nextMatch.starting_at) | date: 'HH:mm' }}</div>
                </div>
                <div class="text-white flex items-center justify-center space-x-4">
                  <div class="text-center items-center justify-center">
                    <img src="{{ nextMatch.participants[1].id | generateLogoUrl }}" class="w-[80px] m-auto h-auto" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gradient-to-t from-black to-transparent w-full h-full z-10 absolute left-0 right-0 top-0 bottom-0"></div>
      </div>
    </div>
    <div class="flex container xl:w-[1200px] ml-auto mr-auto p-4 md:p-8">
      <div class="flex space-x-4 items-center space-x-4 hidden md:flex dark:text-white">
        <a routerLink="/" class="hover:underline dark:text-white">Home</a> > <a routerLink="/nieuws" class="hover:underline">Nieuws</a> <span [innerHTML]="post?.title.rendered" class="dark:text-white"></span>
      </div>
      <div class="flex w-full md:w-auto items-center md:space-x-2 mr-0 md:ml-auto">
        <span class="font-bold dark:text-white">{{ post.date | date }}</span> <span class="dark:text-white inline-block md:hidden ml-5">{{ categoryName }}</span>
        <button class="button button-blue text-xl self-end ml-auto" (click)="toComments()">Naar reacties <fa-icon clas="ml-2" [icon]="faArrowDown"></fa-icon></button>
      </div>
    </div>
    <div class="flex flex-col xl:w-[1200px] ml-auto mr-auto relative z-20">
      <div class="container bg-white dark:bg-black mb-8 xl:w-[1100px] flex flex-col ml-auto mr-auto items-center">
        <div class="px-4 md:px-12 pt-16 news-container m-auto">
          <h1 [innerHTML]="post?.title.rendered" class="text-4xl mb-4 leading-[1.25] dark:text-white"></h1>
          <div [innerHTML]="post?.content.rendered" class="leading-8 text-base leading-[1.5] dark:text-white"></div>
        </div>
        <div class="bg-gray-200 dark:bg-gray-900 dark:text-white p-4 flex w-full justify-end w-full mt-8 items-center">
          <div class="hidden md:inline-block">
            <button class="button button-blue text-xl self-end" (click)="onOpenCommentModal()">Reageer</button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex m-auto">
      <div class="flex flex-col w-full justify-end ml-auto mr-auto">
        <div class="w-full" id="comments">
          <app-comments [postId]="post.id"></app-comments>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-auto" *ngIf="!loading">
    <app-footer></app-footer>
  </div>
</div>

<button class="fixed hover:cursor-pointer w-[200px] left-[50%] -ml-[100px] hover:bg-gray-900 p-4 bg-blue-500 text-white text-xl z-20 left-0 bottom-0" *ngIf="buttonVisible" (click)="onOpenCommentModal()">Reageer <fa-icon class="ml-4" [icon]="faComment"></fa-icon></button>

<app-modal-comment (commentSuccesful)="addComment($event)" (closeModal)="onModalClose()" [modalStatus]="modalCommentsOpen" [postId]="postId"></app-modal-comment>
