<div class="comments-section flex flex-col bg-white dark:bg-gray-900 rounded-md p-4 pl-16">
  <div class="my-8 mx-4 flex items-center">
    <h3 class="text-black dark:text-white mb-2 md:text-3xl font-bold">Discussieer mee</h3>
    <span class="ml-4 p-2 rounded-md bg-gray-900 text-white dark:bg-white dark:text-gray-900 text-md md:text-sm">{{ post?.comments_count }} reacties</span>
  </div>
  <div class="flex md:flex-row flex-col-reverse container">
    <div class="flex-1">
      <app-comment-tree
        *ngIf="comments?.length > 0 else noComments"
        [commentNodes]="hierarchicalComments"
        [isAuthenticated]="isAuthenticated()"
      ></app-comment-tree>
      <ng-template #noComments>
        <div class="p-4 md:w-[600px] bg-blue-100 rounded-md md:mr-4">
          <p class="dark:text-white dark:bg-black">Er is nog niet gereageerd op dit artikel</p>
        </div>
      </ng-template>
      <div class="mx-4 my-8 flex items-center justify-center">
        <button class="button button-blue" (click)="onLoadMoreComments()" *ngIf="comments?.length > 100">Meer reacties tonen</button>
      </div>
    </div>
  </div>
  <div *ngIf="noCommentsLoaded && !loadingComments" class="p-8">
    <p class="mt-4 p-8 text-center text-red-800">{{ noCommentsMessage }}</p>
  </div>
</div>
