<!--<div class="p-8">-->
<!--  <p class="mb-4 text-sm text-gray-800 dark:text-white">This site is protected by reCAPTCHA and the Google</p>-->
<!--  <p class="text-sm text-gray-800 dark:text-white">-->
<!--    <a href="https://policies.google.com/privacy" class="dark:text-white">Privacy Policy</a> and<br>-->
<!--    <a href="https://policies.google.com/terms" class="dark:text-white">Terms of Service</a> apply.-->
<!--  </p>-->
<!--</div>-->
<div class="comments-section flex flex-col bg-white dark:bg-gray-900 rounded-md p-4 pl-16">
  <div class="my-8 mx-4 flex items-center">
    <h3 class="text-black dark:text-white mb-2 md:text-3xl font-bold">Discussieer mee</h3>
    <span class="ml-4 p-2 rounded-md bg-gray-900 text-white dark:bg-white dark:text-gray-900 text-md text-sm">{{ post?.comments_count | commentsString }}</span>
  </div>
  <div class="flex md:flex-row flex-col-reverse container">
    <div class="flex-1">
      <form [formGroup]="commentForm" (ngSubmit)="onPostComment(commentForm)">
        <div *ngIf="!isLoggedIn(); else loggedIn">
          <div class="mb-4">
            <!--          <label for="name">-->
            <!--            Je naam-->
            <!--          </label>-->
            <input placeholder="Jouw naam" class="bg-gray-100 max-w-[300px] dark:bg-gray-700 dark:text-white" formControlName="name" id="name" type="text" />
          </div>
          <div class="mb-4">
            <!--          <label for="email">-->
            <!--            Je e-mailadres-->
            <!--          </label>-->
            <input class="bg-gray-100 dark:bg-gray-700 max-w-[300px] dark:text-white w-2/3" placeholder="Jouw e-mail" formControlName="email" id="email" type="email" />
          </div>
        </div>
        <ng-template #loggedIn>
          <p class="text-base pl-4 mb-8 dark:text-white">
            Reageer als {{ getUserName() }} Ben jij dit niet? <button (click)="logOut()" class="underline dark:text-white">Meld je dan af.</button>
          </p>
        </ng-template>
        <div class="mb-4 relative">
          <!--        <label for="comment">-->
          <!--          Je bericht-->
          <!--        </label>-->
          <textarea class="bg-gray-100 dark:bg-gray-700 dark:text-white" formControlName="comment" id="comment" placeholder="Voer hier je bericht in"></textarea>
          <div class="flex items-center justify-end absolute bottom-4 right-3">
            <button type="submit" class="button button-blue rounded-full">
              <fa-icon [icon]="faPaperPlane"></fa-icon>
            </button>
          </div>
        </div>
      </form>
      <p *ngIf="errorMessage" class="bg-red-200 text-red-800 p-4 rounded-md mx-8">{{ errorMessage }}</p>
      <app-comment-tree
        *ngIf="comments?.length > 0 else noComments"
        [commentNodes]="hierarchicalComments"
        [isAuthenticated]="isAuthenticated()"
      ></app-comment-tree>
      <ng-template #noComments>
        <div class="p-4 md:w-[600px] bg-blue-100 rounded-md md:mr-4">
          <p class="dark:text-white dark:bg-black">Er is nog niet gereageerd op dit artikel</p>
        </div>
      </ng-template>
      <div class="mx-4 my-8 flex items-center justify-center">
        <button class="text-blue-500 hover:underline hover:text-black dark:hover:text-white p-2 rounded-md"
                (click)="loadMoreComments()"
                [ngClass]="{'hidden': disableLoadMoreButton}">
          Toon meer reacties
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="noCommentsLoaded && !loadingComments" class="p-8">
    <p class="mt-4 p-8 text-center text-red-800">{{ noCommentsMessage }}</p>
  </div>
</div>
