<div class="comments-section flex flex-col">
  <div class="flex md:flex-row flex-col-reverse md:w-[1100px] container ml-auto mr-auto">
    <div *ngIf="!loadingComments;">
      <div class="flex items-center justify-center mb-4 relative">
        <button *ngIf="newCommentCount > 0 && reloadButtonVisible" (click)="loadNewComments();" class="shadow-md border-solid button button-white fixed md:inline-block top-[100px] z-30 left-[50%] ml-[-120px] w-[240px]">
          <fa-icon [icon]="faBell" class="mr-1"></fa-icon> Toon <span class="text-red-800 inline-block mr-1">+{{ newCommentCount }}</span> nieuwe reacties
        </button>
      </div>
      <ul *ngIf="comments.length > 0; else noComments" class="">
        <li *ngFor="let comment of comments" class="p-4 mb-4 md:mr-4 md:w-[600px] rounded-md bg-white dark:bg-gray-800 ">
          <div class="author-name p-2 inline-block text-white relative border-b border-blue-500 dark:border-gray-800">
            <h3 class="text-black font-bold dark:text-white relative text-black p-2" [ngClass]="{'font-bold text-blue-500': comment.author !== 0}">{{ comment.author_name }} <fa-icon [icon]="faCheck" class="text-green-800 absolute -right-[.5rem] -top-[5px] text-sm" *ngIf="comment.author !== 0" title="Geregistreerde gebruiker"></fa-icon></h3>
          </div>
          <div class="break-words">
            <div [innerHTML]="comment.content.rendered" class="text-black dark:text-white comment-content p-4"></div>
            <div class="text-sm p-4 pb-0 border-t border-gray-200 dark:border-gray-900">
              <h4 class="dark:text-white">
                <span class="date">{{ validDateFormat(comment.date) | date: 'EEEE, d MMMM, y' }}</span> <span class="ml-2">{{ validDateFormat(comment.date) | date: 'HH:mm' }}</span>
              </h4>
            </div>
          </div>
        </li>
      </ul>
      <ng-template #noComments>
        <div class="p-8 md:w-[600px]">
          <p>Er is nog niet gereageerd op dit artikel</p>
        </div>
      </ng-template>
      <div class="mx-4 my-8 flex items-center justify-center">
        <button class="button button-blue" (click)="onLoadMoreComments()" *ngIf="comments.length > 20">Meer reacties tonen</button>
      </div>
    </div>
    <div class="flex-1">
      <div class="sticky top-[130px] rounded-md bg-white dark:bg-gray-900 px-4 py-8">
        <app-ads [layout]="'square'"></app-ads>
      </div>
    </div>
  </div>
  <div *ngIf="loadingComments">
    <p class="text-black p-8 xl:w-[1100px] ml-auto mr-auto">Reacties ophalen</p>
  </div>
  <div *ngIf="noCommentsLoaded && !loadingComments" class="p-8">
    <p class="mt-4 p-8 text-center text-red-800">{{ noCommentsMessage }}</p>
  </div>
</div>
