<!--<div class="container xl:w-[1200px] max-h-[400px] overflow-hidden ml-auto mr-auto relative z-10 hidden">-->
<!--  <div class="p-8">-->
<!--    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">-->
<!--      <div class="relative">-->
<!--        <input type="text" formControlName="searchTerm" name="" placeholder="Zoeken" />-->
<!--      </div>-->
<!--      <div class="">-->
<!--        <button type="submit">-->
<!--          Zoeken-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<div class="container p-8 bg-white dark:bg-gray-900 lg:w-[1200px] ml-auto mr-auto z-10 relative">
  <div class="min-h-screen">
    <app-newslist [posts]="posts" [pagination]="true"></app-newslist>
  </div>
</div>
<div class="mt-auto">
  <app-footer></app-footer>
</div>
