<div *ngIf="isLoggedIn();">
  <div class="fixed z-40 bg-black opacity-80 w-full h-full bottom-0 overlay" [ngClass]="{'show-overlay': modalStatus === true}"></div>
  <div class="modal-comment" [ngClass]="{'active': modalStatus === true}">
    <div class="flex flex-col relative">
      <div class="bg-gray-100 dark:bg-gray-900 p-4 border-b border-gray-300 p-4 flex items-center">
        <h3 class="text-3xl dark:text-white">Reactie plaatsen</h3>
      </div>
      <div class="modal-content">

      </div>
    </div>
    <div class="p-8">
      <p class="mb-4 text-sm text-gray-800 dark:text-white">This site is protected by reCAPTCHA and the Google</p>
      <p class="text-sm text-gray-800 dark:text-white">
        <a href="https://policies.google.com/privacy" class="dark:text-white">Privacy Policy</a> and<br>
        <a href="https://policies.google.com/terms" class="dark:text-white">Terms of Service</a> apply.
      </p>
    </div>
  </div>
</div>
