<div class="p-4 md:p-0" *ngIf="nextMatch?.localteam_id || nextMatch?.length > 0; else noMatch">
  <div class=" max-w-full relative m-auto z-10 text-center bg-black">
    <div class="bg-black">
      <div [ngClass]="['matches next-match']" class="p-4">
        <a (click)="onOpenMatch(nextMatch?.id)">
          <div class="flex items-center justify-center flex-wrap text-white">
            <div class="w-[70px] md:w-[60px] md:w-[80px]">
              <img [src]="nextMatch?.localteam_id | generateLogoUrl" />
            </div>
            <div class="match-divider mx-8">
              <div class="text-sm md:text-base">{{ validDateFormat(nextMatch?.time.starting_at.date_time) | date: 'EEEE'}}</div>
              <div class="text-sm md:text-base">{{ validDateFormat(nextMatch?.time.starting_at.date_time) | date: 'd MMMM'}}</div>
              <div class="text-sm md:text-base">{{ validDateFormat(nextMatch?.time.starting_at.date_time) | date: 'HH:mm' }}</div>
            </div>
            <div class="w-[70px] md:w-[60px] md:w-[80px]">
              <img [src]="nextMatch?.visitorteam_id | generateLogoUrl" />
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<ng-template #noMatch>
  <div class="p-0 bg-black">
    <div class="max-w-full relative m-auto z-10 text-center">
      <div class="flex items-center justify-center flex-wrap text-white">
        <h3 class="p-5 block">Geen wedstrijden te spelen</h3>
      </div>
    </div>
  </div>
</ng-template>

