<div class="relative z-20">
  <div class="container xl:w-[1200px] max-h-[480px] overflow-hidden ml-auto mr-auto relative z-10">
    <img src="assets/elftalfoto.jpg" class="block m-auto w-full max-h-[480px] object-cover object-center" />
  </div>
  <div class="container xl:w-[1100px] ml-auto mr-auto">
    <div *ngIf="keepers" class="mt-8">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8 content-center">
        <div *ngFor="let keeper of keepers" class="flex content-center items-center justify-center">
          <a class="flex flex-col group" [routerLink]="[keeper.id, keeper.slug]">
            <div class="">
              <img [src]="keeper?.better_featured_image?.source_url" [alt]="keeper?.acf.voornaam + ' ' + keeper?.acf.achternaam"
                   *ngIf="keeper?.better_featured_image?.source_url; else showPlaceholder" class="group-hover:scale-110 transition-all"/>
              <ng-template #showPlaceholder>
                <div class="">
                  Foto volgt
                </div>
              </ng-template>
            </div>
            <div class="text-center">
              <div class="bg-black group-hover:bg-blue-500 w-[80%] relative z-10 ml-auto mr-auto text-white text-5xl">
                {{ keeper.acf.rugnummer }}
              </div>
              <h3 class="p-5">
                <span class="mr-2">{{ keeper?.acf?.voornaam }}</span>
                <span class="">{{ keeper.acf.achternaam }}</span>
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="verdedigers" class="mt-8">
      <div class="grid grid-cols-2 md:grid-cols-4  content-center flex justify-center">
        <div *ngFor="let verdediger of verdedigers">
          <a class="group" [routerLink]="[verdediger.id, verdediger.slug]">
            <div class="">
              <img [src]="verdediger?.better_featured_image?.source_url" [alt]="verdediger?.acf.voornaam + ' ' + verdediger?.acf.achternaam"
                   *ngIf="verdediger?.better_featured_image?.source_url; else showPlaceholder" class="group-hover:scale-110 transition-all" />
              <ng-template #showPlaceholder>
                <div class="">
                  Foto volgt
                </div>
              </ng-template>
            </div>
            <div class="text-center">
              <div class="bg-black group-hover:bg-blue-500 w-[80%] relative z-10 ml-auto mr-auto text-white text-5xl">
                {{ verdediger.acf.rugnummer }}
              </div>
              <h3 class="p-5">
                <span class="mr-2">{{ verdediger?.acf?.voornaam }}</span>
                <span class="">{{ verdediger.acf.achternaam }}</span>
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="middenvelders">
      <div class="grid grid-cols-2 md:grid-cols-4 ">
        <div *ngFor="let middenvelder of middenvelders">
          <a class="group" [routerLink]="[middenvelder.id, middenvelder.slug]">
            <div class="text-center">
              <img [src]="middenvelder.better_featured_image?.source_url" [alt]="middenvelder?.acf.voornaam + ' ' + middenvelder?.acf.achternaam"
                   *ngIf="middenvelder.better_featured_image?.source_url; else showPlaceholder" class="group-hover:scale-110 transition-all"/>
              <ng-template #showPlaceholder>
                <div class="">
                  Foto volgt
                </div>
              </ng-template>
            </div>
            <div class="text-center">
              <div class="bg-black group-hover:bg-blue-500 w-[80%] relative z-10 ml-auto mr-auto text-white text-5xl">
                {{ middenvelder.acf.rugnummer }}
              </div>
              <h3 class="p-5">
                <span class="mr-2">{{ middenvelder?.acf?.voornaam }}</span>
                <span class="">{{ middenvelder.acf.achternaam }}</span>
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="aanvallers">
      <div class="grid grid-cols-2 md:grid-cols-4 ">
        <div *ngFor="let aanvaller of aanvallers">
          <a class="group" [routerLink]="[aanvaller.id, aanvaller.slug]">
            <div class="">
              <img [src]="aanvaller.better_featured_image?.source_url" [alt]="aanvaller?.acf.voornaam + ' ' + aanvaller?.acf.achternaam"
                   *ngIf="aanvaller.better_featured_image?.source_url; else showPlaceholder" class="group-hover:scale-110 transition-all"/>
              <ng-template #showPlaceholder>
                <div class="">
                  Foto volgt
                </div>
              </ng-template>
            </div>
            <div class="text-center">
              <div class="bg-black group-hover:bg-blue-500 w-[80%] relative z-10 ml-auto mr-auto text-white text-5xl">
                {{ aanvaller.acf.rugnummer }}
              </div>
              <h3 class="p-5">
                <span class="mr-2">{{ aanvaller?.acf?.voornaam }}</span>
                <span class="">{{ aanvaller.acf.achternaam }}</span>
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
